# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/pure/src/signal/synchronize/demo/case01/
/pure/src/util/
pure/src/signal/lock/
